body {
   background:url(images/background.png);
   background-size:auto;
   background-repeat: no-repeat;
}

/* This is midle section */ 

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}


.topNav li {
    display: inline-block;
    list-style: none;
    justify-content:space-evenly;
    list-style: none;
    padding: 0px, 20px;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #07439C;
    margin: 74px;
    margin-top: 30px;

}

a { 
    text-decoration: none;
    cursor: pointer;}

a:hover {
    text-decoration: none;
    transform: all .5s ease ;
}


/* This is midle section */ 

.biglogo {
    display: flex;
    justify-content: center;
    width: 670px;
    height: 500px;
    margin-left: 30%;
    margin-top: 70px;
    position: relative;
}

h1 {
   color: #07439C;
   text-align: center;
   font-family: Merriweather, Arial, Helvetica, sans-serif;
   font-size: 24px;
}




.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 210px;
    padding: 10px;
    background-color: #07439C;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 24px;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10%;
}

.button:hover {
    background-color: pink;
    color: #07439C;
    transition: all .3s ease;
    
  }

    /*  Footer */

    h2 {
        position:absolute;
        top: 130%;
        left:50%;
        transform: translate(-50%,-50%);
        color: #07439C;
        text-align: center;
        font-family: 'Merriweather', Arial, Helvetica, sans-serif;
        font-size: 24px;
        }

    .pic {
        float:right;
        margin-top: 300px;

    }

 .footer  {    
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    font-size: 28px;
}


    .list2 {
    list-style: none;
    margin-bottom: 77px;
    margin-left: 155px;
    color: #07439C;
    }


    h3, br {
        text-align: center;
        color: #07439C;
        margin-bottom: 28px;
        padding-top: 5%;
        font-family: 'Merriweather', serif;
        font-size: 28px;
       
    }


footer{
    background-color: white;
}


/* This is My UX Skills section  */

.mySkills {
    background-color: white;
    padding: 100px 15px;
  
}

.flexContainer {
    display: flex;
    height: 500px;
    width: 500;
    background-color: #F6DBE3;
    padding: 15px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.flexItem {
background-color: white;
padding: 50px;
margin: 0 auto;
height: 400px;
max-width: 300px;
justify-content: center;
align-items: center;
text-align: center;
}


p { 
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.uxH1 { 
    font-family: 'Merriweather', serif;
    font-size: 36px;
    
}


/*  My work */



/* First Project */

.btnContainer2  {
    display: flex;
    margin-bottom: 20%;
    
  }





.workGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:50px, 30px;
    background-color: white;
    
}


.workGrid .left  {
    overflow: hidden;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 10%;
    
}

 h4 {
    font-size: 24px;
 }

.right {
    padding-top: 10%;
    width: 440px; 
    height: 350;
}


.all { 
    font-family: 'Merriweather', serif;
    font-size: 36px;
    background-color: pink;
    display: flex;
    justify-content: center;
 padding-bottom: 5%;

}
